title: a scanty blog
subtitle: Scanty, a really small blog
author: John Doe
url_base: http://localhost:4567/
admin_password: changeme
admin_cookie_key: scanty_admin
admin_cookie_value: 51d6d976913ace58
disqus_shortname:
page_size: 10
timezone: +08:00
