<h1>Archive</h1>
<table class="table table-bordered">
  <% posts.each do |post| %>
    <tr <% if post.delete? %> class="error" <% end %>>
      <td><a href="<%= post.url %>"><%= post.title %></a></td>
      <td><%= post.created_at.strftime("%Y-%m-%d %H:%M") %></td>
      <% if post.delete? %>
        <td>This Blog is deleted.</td>
      <% else %>
        <td>&nbsp;</td>
      <% end %>
    </tr>
  <% end %>
</table>
