<h2>Admin Auth</h2>
<% if error %>
  <div class="alert-message block-message error">
    <p><strong>Oops! You got an error!</strong></p><p>Change this and that and try again.</p>
  </div>
<% end %>
<div class="login">
  <form action="/auth" method="post" class="form-inline">
    <input class="span3" type="password" placeholder="Password" name="password" />
    <button class="btn" type="submit">Login</button>
  </form>
</div>
<script type="text/javascript">document.forms[0].password.focus()</script>
