<!DOCTYPE html>
<html lang="en">
  <head>
    <%= erb :"partial/head" %>
  </head>
  <body>
    <%= erb :"partial/navbar" %>
    <div class="container">
      <div class="content">
        <%= yield %>
      </div>
      <hr />
    </div>
    <%= erb :"partial/footer" %>
  </body>
</html>
