body{font-size:14px;padding-top:40px;}
.sidebar,.content,.login{clear:both;margin-bottom:10px;padding:10px 0;}
.post{border-bottom:1px solid #DDD;margin:0 0 1.625em;padding:0 0 1.625em;}
.post-header{border-left:3px solid #DDD;padding-left:5px;}
.post-content p{margin:12px 0;}
html,body{background-color:#eee;}
.container > footer p{text-align:center;}
.container{width:820px;}
.content{background-color:#fff;-webkit-border-radius:0 0 6px 6px;-moz-border-radius:0 0 6px 6px;border-radius:0 0 6px 6px;-webkit-box-shadow:0 1px 2px rgba(0,0,0,.15);-moz-box-shadow:0 1px 2px rgba(0,0,0,.15);box-shadow:0 1px 2px rgba(0,0,0,.15);margin:20px 0 0 0;padding:20px;}
.page-header{background-color:#f5f5f5;margin:20px 0 10px;padding:20px 20px 10px;}
.content .span10,.content .span4{min-height:500px;}
.content .span4{margin-left:0;padding-left:19px;border-left:1px solid #eee;}
.topbar .btn{border:0;}
.paginate .pull-right{margin-left:120px;}
.change_slug{margin-top:18px;}
.tagged{color:#0069D6;}
.deleted-msg,.change_slug .help-inline{color:#B94A48;}
