html,body{background-color:#eee}
body{padding-top:60px;font-size:14px}
.page-header{margin:0 0 10px;padding:10px 20px;background-color:#f5f5f5}
.content{padding:20px;-webkit-border-radius:0 0 6px 6px;-moz-border-radius:0 0 6px 6px;border-radius:0 0 6px 6px;background-color:#fff;-webkit-box-shadow:0 1px 2px rgba(0,0,0,.15);-moz-box-shadow:0 1px 2px rgba(0,0,0,.15);box-shadow:0 1px 2px rgba(0,0,0,.15)}
.post{margin:0 0 1.625em;padding:0 0 1.625em;border-bottom:1px solid #DDD}
.post-header{padding-left:5px;border-left:3px solid #DDD}
.post-content p{margin:12px 0 0 15px}
.post-edit, .post-more{margin-top:25px}
.tagged{color:#0069d6}
#footer{height:60px}
@media(max-width:767px){#footer{margin-left:-20px;margin-right:-20px;padding-left:20px;padding-right:20px}
}
#footer .container{width:auto;max-width:680px}
#footer .credit{margin:20px 0}
#footer .muted{color:#999}
