<div id="footer">
  <div class="container">
    <p class="muted credit">Content by <%= Blog.author %>&nbsp;|&nbsp;Design adapted from <a href="http://twitter.github.com/bootstrap/">Bootstrap</a></p>
  </div>
</div>
